@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: #e0eafc; 
  background: -webkit-linear-gradient(to right, #cfdef3, #e0eafc);
  background: linear-gradient(to right, #cfdef3, #e0eafc);
}

.container {
  max-width: 600px;
  width: 100%;
  padding: 30px;
  background: #ffffff;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
  margin-bottom: 20px;
  font-weight: 500;
  text-align: center;
  font-size: 22px;
  color: #1683ff;
}

.drag-area .support {
	font-size: 14px;
	color: gray;
	margin: 10px 0 15px 0;
}

.drag-area {
  height: 382px;
  border: 3px dashed #e0eafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px auto;
  border-radius: 20px;
  position: relative;
  background: rgba(224, 234, 252, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.drag-area:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://image.freepik.com/free-vector/modern-geometric-background_53876-87740.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.08;
  pointer-events: none;
  z-index: -1;
}

.drag-area:hover {
  border-color: #1683ff;
  background: rgba(22, 131, 255, 0.1);
}

.drag-area .icon {
  font-size: 60px;
  color: #1683ff;
}

.drag-area .header {
  font-size: 24px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
}

.drag-area .subheader {
  font-size: 16px;
  color: #555;
}

.drag-area .button {
  font-size: 20px;
  font-weight: 600;
  color: #1683ff;
  text-decoration: underline;
  padding-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.drag-area .button:hover {
  color: #0d6efd;
}

.drag-area.active {
  border: 3px solid #1683ff;
  background: rgba(22, 131, 255, 0.1);
}


.drag-area img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .container {
    padding: 20px;
    width: 90%;
  }

  h3, h2 {
    font-size: 18px;
  }

  .drag-area {
    height: 300px;
    grid-template-columns: 1fr;
  }

  .drag-area .icon {
    font-size: 40px;
  }

  .drag-area .header {
    font-size: 20px;
  }

  .drag-area .subheader {
    font-size: 14px;
  }
  
  .tab-content {
    padding: 10px;
  }
  
  #tab2 {
    height: auto;
    overflow-y: auto;
  }
}

.download {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 6px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 3px 1px;
	border-radius: 12px;
	cursor: pointer;
	width: 100%;
}

.download-btn {
  margin-bottom: 10px;
}

.demo {
	text-align: right;
	font-weight: 400;
	margin-top: 10px;
	font-size: 12px;
}

.rainbow{
	animation: rainbow 7s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow{
		100%,0%{
			color: rgb(255,0,0);
		}
		8%{
			color: rgb(255,127,0);
		}
		16%{
			color: rgb(255,255,0);
		}
		25%{
			color: rgb(127,255,0);
		}
		33%{
			color: rgb(0,255,0);
		}
		41%{
			color: rgb(0,255,127);
		}
		50%{
			color: rgb(0,255,255);
		}
		58%{
			color: rgb(0,127,255);
		}
		66%{
			color: rgb(0,0,255);
		}
		75%{
			color: rgb(127,0,255);
		}
		83%{
			color: rgb(255,0,255);
		}
		91%{
			color: rgb(255,0,127);
		}
}

/* Barra di avanzamento */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.progress-container {
  margin: 20px 0;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 30px;
  font-family: 'Roboto', sans-serif;
}

.progress-bar {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.progress {
  position: absolute;
  height: 100%;
  background: linear-gradient(-45deg, #06bcfb, #4884ee, #06bcfb, #4884ee);
  background-size: 400% 400%;
  border-radius: 15px;
  width: 0;
  transition: width 0.4s ease-in-out;
  animation: gradient 3s ease infinite;
}

.progress-percent {
  position: relative;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 10;
  color: #333;
}

/*fine barra*/
.reset {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 1px;
  border-radius: 12px;
  cursor: pointer;
}

.download:disabled {
  background-color: #b3b3b3; /* Cambia il colore di sfondo quando il pulsante è disabilitato */
  cursor: not-allowed; /* Mostra un cursore "not-allowed" quando il pulsante è disabilitato */
}

.example {
  background-color: #009688;
  border: none;
  color: white;
  padding: 6px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 1px;
  border-radius: 12px;
  cursor: pointer;
}

.button-container {
	display: flex;
	justify-content: center;
	gap: 20px; /* Distanza tra i pulsanti */
}

.download:hover {
  background-color: #388E3C;
}

.reset:hover {
  background-color: #d32f2f;
}

.example:hover {
  background-color: #00796B;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #e0eafc;
  border-radius: 10px;
  overflow: hidden;
}

.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
}

.tab-item {
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  letter-spacing: 1px;
  outline: none;
  overflow: hidden;
  position: relative;
}

.tab-item.active {
  color: #2196f3;
  background-color: #fff;
}
.tab-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #2196f3;
  transition: all 0.2s ease-in-out;
}

.tab-item:hover:before {
  width: 100%;
}

.tab-item:focus {
  background-color: rgba(0,0,0,0.05);
}

.tab-item.active:before {
  width: 100%;
}

.tab-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background-color: #2196f3;
  opacity: 0.3;
}

/* #tab1{
  height: 64vh;
} */

#tab2 {
  height: 64vh;
}

#tab3{
	height: 64vh;
	/* overflow-y: scroll; */
	position: relative;
}
 
#fileList {
  list-style: none;
  margin-top: 30px;
}

#fileList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiunge l'animazione per la trasformazione e l'ombra */
}

#fileList li:hover {
  transform: scale(1.05); /* Ingrandisce l'elemento del 5% quando il mouse è sopra */
  box-shadow: 0 0 20px rgba(0,0,0,0.3); /* Ombra più grande e più scura quando il mouse è sopra */
}

#fileList li span {
  font-size: 14px;
}

#fileList li span:nth-child(1) {
  flex-basis: 70%;
}

#fileList li span:nth-child(2) {
  flex-basis: 30%;
  text-align: right;
}

#fileList li a {
  color: #1683ff;
  text-decoration: none;
}

#fileList li a:hover {
  text-decoration: underline;
}

/* Pulsanti filelist */
#fileList li button {
  background-color: transparent;
  border: none;
  padding: 0px 12px 0px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
  outline: none;
}

#fileList li button:hover{
	transform: scale(1.1);
}

.file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.submit-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #1683ff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #0d69de;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.file-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file-action-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-button {
  color: #1683ff;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.convert-button {
    border: none;
    color: rgb(255, 128, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.json-icon {
  color: red; 
}


.download-button {
  background-color: green;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.download-button:before {
  content: "\2190";
  margin-right: 5px;
}

.loader-container{
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #4caf50;
  border-color: #1683ff transparent #1683ff transparent;
  animation: loader 1.2s infinite;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.blue-color{
	color: blue;
}
.setting {
  position: absolute;
  bottom: 0;
  left: 0;
}

.setting-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.setting-item label {
  font-weight: 400;
}

.toggle-container {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.toggle-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 93%;
  height: 85%;
  border-radius: 12px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.toggle-label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease-in-out;
}

.toggle-container input[type="checkbox"]:checked + .toggle-label {
  background-color: #2196f3;
}

.toggle-container input[type="checkbox"]:checked + .toggle-label:before {
  transform: translateX(24px);
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

#saveButton {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1683ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 110px;
}

#saveButton:hover {
  background-color: #f44336;
}

#activityContainer {
  height: 160px;
  overflow-y: scroll;
  position: relative;
  scrollbar-width: thin;
  scrollbar-color: #555555 #ffffff;
  border: 2px solid #1683ff;
  border-radius: 5px;
  background-color: #f5faff;
  padding: 20px;
  margin-top: 10px;
  color: black;
}

#activityContainer::-webkit-scrollbar {
  width: 8px;
}

#activityContainer::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 3px;
}

#activityContainer::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
}

#activityItems {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#clearActivityButton {
  position: absolute;
  right: 0px;
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #1683ff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dark-mode #activityContainer {
  color: black; 
}

#dark{
  margin-bottom: 10px;
}

#activityItems {
  list-style-type: disc;
  padding-left: 20px;
}

#activityItems li {
  margin-bottom: 5px;
}

#title-activity{
  margin-top: 10px;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-dropdown label {
  margin-right: 10px;
}

.sort-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  padding: 8px 20px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  transition: background-color 0.3s, box-shadow 0.3s;
  cursor: pointer;
  width: 130px;
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.sort-dropdown select::-ms-expand {
  display: none;
}

.sort-dropdown select:focus {
  outline: none;
  background-color: #e8e8e8;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
}

.sort-dropdown::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: transform 0.3s;
}

.sort-dropdown.open::after {
  transform: translateY(-50%) rotate(180deg);
}

/* Aggiungi animazioni per mostrare/nascondere il dropdown */
@keyframes slideIn {
  0% {
    transform: translateY(-20px) scale(0.9);
    opacity: 0;
  }
  50% {
    transform: translateY(10px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  50% {
    transform: translateY(10px) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px) scale(0.9);
    opacity: 0;
  }
}

/* Aggiungi uno stile personalizzato per l'opzione selezionata */
.sort-dropdown select option:checked {
  background-color: #e8e8e8;
  color: #333;
}

/* Migliora lo stile delle opzioni del dropdown */
.sort-dropdown select option {
  padding: 8px 20px;
  background-color: #f1f1f1;
  transition: background-color 0.3s, color 0.3s;
}

.sort-dropdown select option:hover {
  background-color: #e8e8e8;
  color: #333;
}

/* Aggiungi animazione di popup */
.sort-dropdown.open select option {
  animation: slideIn 0.5s cubic-bezier(0.5, 0, 0.2, 1);
}

.sort-dropdown.close select option {
  animation: slideOut 0.5s cubic-bezier(0.5, 0, 0.2, 1);
}

/* Stile personalizzato per il dropdown */
.sort-dropdown select {
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sort-dropdown::after {
  color: #555;
  font-size: 12px;
}

.sort-dropdown.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.sort-dropdown.open select {
  border-color: #007bff;
  box-shadow: 0 2px 5px rgba(0, 123, 255, 0.2);
}

.delete-all-button {
  background-color: #f1f1f1;
  border: none;
  color: #333;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  float: right;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.delete-all-button:hover {
  background-color: #e8e8e8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.delete-all-button:active {
  background-color: #d1d1d1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); 
}

.tab-content {
  transition: opacity 0.5s ease;
}

.csv-icon {
  color: rgb(156, 20, 20);
}

.xml-icon{
	color: rgb(0, 0, 255);
}

.excel-icon {
  color: green;
}

.trash-icon {
  color: #848789;
}

.hidden-icon {
  display: none;
}

.delete-all-button {
  position: relative;
  display: inline-block;
}

.delete-all-button .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  font-size: 16px;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.3s;
}

.delete-all-button .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.delete-all-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.delete-all-button.clicked .tooltiptext {
  visibility: hidden;
  opacity: 0;
}